/* google font links */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration:none;
    list-style-type: none;
 
}
body{
    font-family: 'Poppins',
    sans-serif;
      background: #F3F1FF;
   
}

/* --------------
 header-styles
 ---------------- */
 header{
     background-color: #562EFF;
     display: flex;
     justify-content: center;
     margin-bottom: 46px;
     padding:5px 0;
   

    
 }
 .containerr{
     width: 870px;
 }
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
      flex-wrap: wrap;

}
.brand{
    display: flex;
    align-items: center;
    width:100px;
    justify-content: space-around;
    
}
.brand img{
  width: 40.42px;
  height: 51px;
}
.brand h4{
    color:white;
    

}

nav{
    display: flex; 
    align-items: center;
}
nav ul{
    display: flex;
        
}
 
nav ul li a{
    margin-right: 13px;
    color:white;
    font-size: 16px;
    font-weight: 400;
    
}

/* top players style or utilities*/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    background-color: #ffff;
    width: 870px;
    padding:30px;
    border-radius: 5px;
}
.top-players{
    margin-bottom: 30px;
}

.section-title{
    color:#562EFF;
   font-size: 24px;
   margin-top:3px;
}

.players {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center
}
.player img{
    width:56px;
    height: 56px;
}
.player-name{
    margin-left:16px;
    font-size: 18px;
}

hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}

/* --------------------------
Top-blog styles
----------------------------- */
.blogs{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    grid-row-gap: 26px;
    grid-column-gap: 35px;
}
.top-blogs .blog{
    display: flex;
}
.blog .thumnail img {
    width: 224px;
    height: 127px;
}
.blog-info{
    padding-left: 16px;
}

.blog-title{
    font-size: 20px;
}
.blog-author{
    color: #9F9F9F;
}
.blog-author a{
    text-decoration: none;
    color: #562EFF;

}

/* -----------------------
course section styles
--------------------------- */
.latest-course{
    margin-top:11px;
    border-radius: 5px;
}
.courses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 20px;

   
}
.course-details{
     border-radius: 5px;

}
.course-details:hover img{
    transform: scale(1.25);
    transition: all .3s ease-in-out;
}
.course-banner img{
    width: 224px;
    height: 104px;
 
    
}
.course-title{}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.rating .filed{
     color:FFC014;
}
.rating .empty{
color:#AEAEAE;
}
.duration{
   color: #FF4A60;
   background: #FFE4E8;
   border-radius: 14.6913px;
}



/*---------------------------
    Responsive desigin
------------------------------ */

/* -----------------
  Mobile device  
  ----------------- */

  @media only screen and ( max-width:688px ) {
    .container{
        width: 100%;
    }
      .players, .blogs , .courses {
  
          
          grid-template-columns:repeat(1, 1fr);
      }
      .player , .blog  {
          flex-direction: column;
          align-items: center
      }
      hr{
          display: none;
      }
  }

  /* tablet devices
  -------------------- */

  @media only screen and (min-width:688px) and (max-width:992px) {
    .container{width: 100%}
    .players, .courses{
        grid-template-columns:repeat(2, 1fr);
    }


    .blogs{
        grid-template-columns:repeat(1, 1fr);
    }
      
  }